<ul class="nav navbar-nav">
    <li class="active lien"><a href="{{ path('index') }}">Home</a>
    </li>
    <li class=" lien"><a href="{{ path('about') }}"> About</a>
    </li>
    <li class=" lien"><a href="{{ path('service') }}"> Service</a>
    </li>
    <li class=" lien"><a href="{{ path('menu') }}"> Menu</a>
    </li>
    <li class=" lien"><a href="{{ path('reservation') }}"> Reservation</a>
    </li>
    <li class=" lien"><a href="{{ path('testimonial') }}"> Testimonial</a>
    </li>
    <li><a href="{{ path('contact') }}"> Contact</a>
    </li>
</ul>
